<!DOCTYPE html>
<html lang="en">
   <title>{{title}}</title>
   <script>
      window.onload = init;
      function init() {
         pdfcontainer = document.createElement("object");
         pdfcontainer.setAttribute("style", "width:100vw;height:100vh");
         pdfcontainer.setAttribute("type", "application/pdf");
         pdfcontainer.setAttribute("data", "{{assetlink}}");
         document.body.setAttribute("style", "margin:0px");
         document.documentElement.setAttribute("style", "overflow:hidden");
         document.body.append(pdfcontainer);
      }
   </script>
   <body></body>
</html>
